MODEL_VERSION=V1
TEST_START_DATE=2025-01-01


# GCP Project
GCP_PROJECT_ID=hydro-sense-498112

# BigQuery
BQ_REGION=EU
BQ_DATASET_ID=piezometry



GOOGLE_APPLICATION_CREDENTIALS=b5.json



# Cloud Storage
BUCKET_NAME=prout


# Compute Engine - NOT NECESSARY ??
INSTANCE=instance-taxifare003

# Model Lifecycle - TOBE EDITED
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT=taxifare_experiment_charourou
MLFLOW_MODEL_NAME=taxifare_charourou_all

PREFECT_FLOW_NAME=taxifare_lifecycle_charourou
PREFECT_LOG_LEVEL=WARNING

# API on Gcloud Run
GAR_MEMORY=2Gi
GAR_IMAGE=taxifare
PORT=8000
