GOOGLE_APPLICATION_CREDENTIALS=/home/yanns/code/Yannsimon92/100-Hydrosense/Projet_Hydrosense/secrets/hydro-sense-498112-d8b48c4804b5.json
GCP_PROJECT_ID=hydro-sense-498112
BIGQUERY_DATASET=piezometry
