affine
altair
annotated-doc
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
click-plugins
cligj
cloudpickle
colorama
comm
contextily
contourpy
cryptography
cycler
Cython
darts
db-dtypes
debugpy
decorator
defusedxml
dill
exceptiongroup
executing
fastapi
fastjsonschema
fiona
folium
fonttools
fqdn
geographiclib
geopandas
geopy
gitdb
GitPython
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
holidays
httpcore
httptools
httpx
idna
iniconfig
ipdb
ipykernel
ipython
isoduration
isort
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lark
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mercantile
mistune
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
nfoursid
notebook_shim
numba
numpy
overrides
packaging
pandas
pandocfilters
parso
patsy
pexpect
pillow
platformdirs
plotly
pluggy
pmdarima
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pylint
pyod
pyparsing
pyproj
pytest
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
rasterio
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
shap
shapely
six
slicer
smmap
soupsieve
stack-data
starlette
statsmodels
streamlit
streamlit-folium
tenacity
terminado
threadpoolctl
tinycss2
toml
tomli
tomlkit
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
uvicorn
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
xarray
xyzservices
